/node_modules
/public/hot
/public/storage
/storage/upload
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
/.idea
/.vscode
*.lock
package-lock.json
.history

/storage/debugbar
/public/js/
/public/css/
